<section>
    <div class="container">
        <h1 class="page-title">About TrainingDay</h1>
        <hr>
    
        <div>
            <p>TrainingDay is a powerful mobile application designed to help you achieve your fitness goals, whether you prefer to work out at home or in the gym. With more than 100 exercises to choose from, you'll have all the tools you need to customize your workout routine and target specific muscle groups. Whether you're looking to build strength, improve your endurance, or simply get in better shape, TrainingDay has everything you need to succeed.</p>
            <p>Some of the key features and benefits of TrainingDay include:</p>
            <ul>
                <li>Extensive exercise library: With more than 100 exercises to choose from, TrainingDay offers a diverse range of workout options to suit any fitness level or preference. From cardio exercises like running and cycling, to strength training exercises like weightlifting and resistance band workouts, there's something for everyone.</li>
                <li>Personalized workout plans: TrainingDay allows you to create custom workout plans and routines tailored to your specific fitness level, goals, and preferences. Whether you're looking to lose weight, build muscle, or improve your overall fitness, the app can help you create a plan that's right for you.</li>
                <li>Progress tracking: With TrainingDay, you can easily track your progress over time and see how far you've come. The app allows you to monitor key metrics like your weight, waist size, and hip measurements, as well as track your workout history and set goals for yourself.</li>
                <li>Personalized workout and nutrition tips: The app provides personalized workout and nutrition recommendations based on users' entered body measurements and goals.</li>
                <li>Expert advice and guidance: If you're looking for advice and guidance on training and nutrition, TrainingDay has you covered. The app offers a range of resources and tools to help you make the most of your workout routine, including instructional videos, workout tips, and nutrition advice.</li>
                <li>Community support: TrainingDay also offers a community of users who are all working towards their fitness goals. You can connect with other users, share your progress, and get inspiration and motivation from others who are on a similar journey.</li>
            </ul>
            <p>Overall, TrainingDay is a comprehensive and easy-to-use app that can help you take your fitness journey to the next level. With its extensive exercise library, personalized workout plans, progress tracking, expert advice, and community support, it's the ultimate tool for anyone looking to get fit and stay healthy.</p>
        </div>
    
        <br />
        <input target="_blank" type="image" onclick="window.open('https://play.google.com/store/apps/details?id=com.OLASoft.TrainingDay')" src="../../assets/get_google_play.png" style="width: 150px; height: 50px" />
        <input target="_blank" type="image" onclick="window.open('https://apps.apple.com/app/id1548560346')" src="../../assets/get_appstore.png" style="width: 150px; height: 50px" />
        <br />
    </div>
</section>