<div class="footer horizontal-container">
  <div class="vertical-container">
      <a href="/about">About</a>
      <a href="/privacy">Privacy</a>
      <a href="/contact">Contact me</a>
      <div></div>
  </div>
  <div class="space">
  </div>
  <div class="vertical-container w-300">
    <div></div>
    <div></div>
    <span class="column-header">Contacts</span>
    <a target="_blank" rel="noopener" title="Instagram" href="mailto:alezhko.mail@gmail.com">alezhko.mail@gmail.com</a>
    <span></span>
  </div>
  <div class="vertical-container">
    <div></div>
    <div></div>
    <span class="column-header">Socials</span>
    <div class="horizontal-container">
      <a target="_blank" rel="noopener" title="Instagram" href="https://www.instagram.com/trainingday.app/">
        <img src="../../assets/instagram.svg" alt="">
      </a>
      <a target="_blank" rel="noopener" title="Tik Tok" href="https://www.tiktok.com/@trainingday.app">
        <img src="../../assets/tik-tok.svg" alt="">
      </a>
    </div>
  </div>
</div>
