<nav class="td-navbar fixed-top">
  <div class="td-navbar-inner">
    <a class="td-brand" href="/">
      <img src="../../assets/main.png" alt="TrainingDay" />
    </a>

    <button
      class="td-toggler"
      type="button"
      aria-label="Toggle navigation"
      (click)="openMenu()">
      <span class="td-toggler-bar"></span>
      <span class="td-toggler-bar"></span>
      <span class="td-toggler-bar"></span>
    </button>

    <div class="td-nav-links" [class.open]="isMenuOpen">
      <a class="td-nav-link" href="/exercises">Exercises</a>
      <a class="td-nav-link" href="/blogs">Blog</a>
      <a class="td-nav-link" href="/about">About</a>
      <a class="td-nav-link td-nav-download" href="/download">Download App</a>
      <div class="td-nav-divider"></div>
      <ng-container *ngIf="!isLoggedIn()">
        <a class="td-nav-link" routerLink="/login">Sign In</a>
        <a class="td-nav-link td-nav-register" routerLink="/register">Register</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn()">
        <a class="td-nav-link td-nav-profile" routerLink="/profile">
          <span class="td-avatar">{{ (currentUser()?.nick || currentUser()?.email || '?').charAt(0).toUpperCase() }}</span>
          {{ currentUser()?.nick }}
        </a>
        <button class="td-nav-link td-nav-logout" (click)="logout()">Sign Out</button>
      </ng-container>
    </div>
  </div>
</nav>
