<nav class="td-navbar fixed-top">
  <div class="td-navbar-inner">
    <a class="td-brand" href="/">
      <img src="../../assets/main.png" alt="TrainingDay" />
    </a>

    <button
      class="td-toggler"
      type="button"
      aria-label="Toggle navigation"
      (click)="openMenu()">
      <span class="td-toggler-bar"></span>
      <span class="td-toggler-bar"></span>
      <span class="td-toggler-bar"></span>
    </button>

    <div class="td-nav-links" [class.open]="isMenuOpen">
      <a class="td-nav-link" href="/exercises">Exercises</a>
      <a class="td-nav-link" href="/blogs">Blog</a>
      <a class="td-nav-link" href="/about">About</a>
      <a class="td-nav-link td-nav-download" href="/download">Download App</a>
    </div>
  </div>
</nav>
