.container {
  margin: 0px;
  float: none;
  width: 100%;
  display: table;
  background: rgb(0, 0, 0);
}

#img-join {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-weight: bold;
  background-color: #686df3;
}

#join-button {
  padding: 10px 50px;
  background-color: #686df3;
}

@media screen and (max-width: 1000px) {
  .overlay {
    position: relative;
    top: 0%;
    left: 0%;
    transform: none;
    color: #000000;
    text-align: center;
  }
}