<div class="download-container">
  <h2>Download TrainingDay</h2>
  <p>Choose your platform:</p>

  <div class="buttons">
    <a href="https://play.google.com/store/apps/details?id=com.OLASoft.TrainingDay&pli=1" target="_blank">
      <img src="../../../assets/get_google_play.png" alt="Get it on Google Play" />
    </a>
    <a href="https://apps.apple.com/us/app/workouts-trainingday/id1548560346" target="_blank">
      <img src="../../../assets/get_appstore.png" alt="Download on the App Store" />
    </a>
  </div>
</div>